html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.desktop-navbar-onscroll {
    display: none;
}

.navbar {
    background-color: #4c5b72;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 2;
}

.hide-navbar {
    top: -55px;
}

.navbar-item1 {
    height: 55px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar-item1 h1 {
    padding-top: 6px;
}

.navbar-item2 {
    display: none;
    width: 80%;
}

.display-header-nav {
    display: block;
}

.mobile-menu-btn {
    margin-right: 15px;
}

.mobile-menu-btn:hover {
    cursor: pointer;
}

.mobile-menu-btn i {
    font-size: 35px;       
    color: white;
}

.display-header-nav.navbar-item2 {
    margin-top: 10px;
}

.display-header-nav.navbar-item2 ul {
    list-style: none;
}

.display-header-nav.navbar-item2 li {
    color: white;
    text-transform: capitalize;
    border-bottom: 1px solid white;
    font-size: 1.25rem;
    padding: 15px 0;
}

.display-header-nav.navbar-item2 li:nth-last-child(1) {
    padding-bottom: 14px;
    border: 0;
}

@media screen and (max-width: 450px) {

    .navbar-item1-i {
        flex: 1 1 0;
    }

    .mobile-menu-btn {
        flex: 1 1 0;
    }
    
    #logo {
        flex: 4 1 0;
    }

}

@media screen and (min-width: 450px) {
    .mobile-menu-btn {
        position: absolute;
        left: 0;
    }
}

#hero {
    padding-top: 55px;
}

#logo img {
    width: 198px;
    height: 28px;
}

.desktop-menu-btn div {
    width: 45px;
    height: 2.5px;
    margin: 10px;
    background-color: white;
    border-radius: 3px;
}

.desktop-menu-btn div:nth-child(3) {
    position: relative;
    background-color: rgba(0, 0,0, 0);
}

.circle {
    display: inline-block;
    position: absolute;
    right: 0;
    background-color: rgb(255, 250, 250);    
    height: 10px;
    width: 12px;
    top: -3px;
    border-radius: 40%;
}

.desktop-menu-btn {
    display: none;
}

.desktop-menu-btn:hover {
    cursor: pointer;
}

.desktop-menu-btn:hover .line {
    background-color: rgba(36,38,42,.9);
    left: 0;
}


.desktop-navbar-onscroll {
    background-color: #4c5b72;
    position: fixed;
    width: 100%;
    transition: top 0.4s;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 4;
}

.desktop-navbar-onscroll .flex-item {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.close-nav-btn {
    color: white;
    font-size: 55px;
    font-weight: 500;
    display: none;
    cursor: pointer;
}

/* .desktop-navbar-onscroll background color when navbaritem2 is active */
.navBarBackgroundColorChange {
    background-color: rgba(36,38,42,0.98)
}




@media screen and (min-width: 1000px){
    #logo img {
        width: 310px;
        height: 44px;
    }
}

@media screen and (min-width: 1025px){

    .navbar-item2 {
        display: none;
    }

    #hero {
        margin: 0;
    }

    .navbar {
        position: relative;
        top: 0;
    }
    
    .mobile-menu-btn {
        display: none;
    }

    .navbar-item1 {
        height: 90px;
        width: 90%;
        justify-content: space-between;
        z-index: 1;
    }

    .desktop-menu-btn {
        display: block;
    }

    .desktop-navbar-onscroll {
        top: -90px;
    }

    .show-desktop-navbar-onscroll {
        display: flex;
        justify-content: center;
        top: 0;
    }

    .hide-desktop-menu-btn {
        display: none;
    }

    .show-close-nav-btn {
        display: block;
    }
}

.display-header-nav-asmodal {
    display: block;
}

.display-header-nav-asmodal.navbar-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(36,38,42,0.98);
    top: 0;
}

.display-header-nav-asmodal.navbar-item2 nav {
}

.display-header-nav-asmodal.navbar-item2 ul {
    list-style: none;
}

.display-header-nav-asmodal.navbar-item2 ul li {
    padding: 10px;
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.display-header-nav-asmodal.navbar-item2 .our-services {
    color: #00d3f3;
}

.display-header-nav-asmodal.navbar-item2 ul li:hover {
    cursor: pointer;
    color: #00d3f3;
}


/* .display-header-nav-flex {
    .navbar-item2 {
        margin: 0;
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: rgba(36,38,42,0.98);
        top: 0;
    }

    .navbar-item2 ul li {
        border: 0;
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .navbar-item2 .our-services {
        color: #00d3f3;
    }

    .navbar-item2 ul li:hover {
        cursor: pointer;
        color: #00d3f3;
    }
} */

/* hero section styles */

#hero {
    height: 80vh;
    min-height: 530px;
    background-color: rgba(122, 206, 122, 0.87);
    background-image: url(images/social-9_21_18-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (max-width:450px) {
    #hero {
        height: 100vh;
    }
}


#hero h1 {
    font-size: 76px;
    color: #F8F6F6;
    font-family: "Varela Round", Sans-serif;
    font-weight: 500;
    line-height: 0.9em;
    letter-spacing: 4.3px;
    text-transform: capitalize;
    padding: 15px;
}

#hero h2 {
    color: #F8F6F6;
    font-family: "Varela Round", Sans-serif;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
    text-transform: capitalize;
    padding: 15px;
    font-size: 28px;
}

#hero a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: "Varela Round", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.9px;
    text-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
    color: #F8F6F6;
    background-color: #F8F6F600;
    border: 3px solid #F8F6F6;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
    padding: 14px 14px 14px 14px;    
    transition: background-color 0.3s;
}

#hero a:visited {
    color: white;
}

#hero a:hover {
    color: #00d3f3;
    background-color: white;
}

#hero .play-button {
    display: inline-block;
    text-align: center;
}

#background-video {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
}

#player {
    position: absolute;
    transform: scale(1.7);
}

.background-video-empty-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    z-index: 1;
}

#hero .anchor-and-playbutton-con {
    display: flex;
    align-items: center;
    padding: 15px;
}

.play-button i {
    font-size: 60px;
    color: white;
}

.play-button i:hover {
    color: #00d3f3;
}

.item1 {
    padding: 10px;
}

.item2 {
    padding: 10px;
}

@media screen and (max-width: 767px) {
    #hero h1 {
        font-size: 3rem;
        padding: 8px;
    }

    #hero h2 {
        font-size: 1.6em;
        padding: 8px;
    }

    .item1 {
        flex: 1.4;
        padding: 8px;
    }

    .item2 {
        flex: 1;
        padding: 8px;
    }

    .hero-content {
        top: 10px;    
    }

    #hero .anchor-and-playbutton-con {
        padding: 8px;
    }
}


/* services section styles */


#services {
    position: relative;
    background-color: #F2F2F0;
}

.service h2 {
    padding: 10px;
}

.service p {
    padding: 10px;
    align-self: flex-end;

    /* another way */
    /* width: 100%;
    text-align: right; */
}

.service img {
    width: 80px;
    height: 80px;
    padding: 10px;
}

#services header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#services header h1 {
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px;
}

#services header h2 {
    font-family: "Varela Round", Sans-serif;
    color: #000000;
    font-size: 22px;
    line-height: 34px;
    text-transform: none;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}


.service a {
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #4632DA;

}

.service a:visited {
    color: #4632DA
}



#services header img {
    
}

.section-nav {
    /* padding: 10px; */
}

#services .section-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1340px;
    padding: 20px;
}

#services .section-nav .service {
    margin: 10px;
    background-color: white;
    width: 220px;
    /* height: 200px; */
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    /* flex: 1 1 100px; */
}

.wave-shape {
    position: absolute;
    top: -28px;
    width: 100%;
}

.wave-shape svg {
    height: 30px;
    width: 100%;
    transform: rotate(180deg);
}

.wave-shape svg path {
    fill: #F2F2F0;
    /* fill: yellow; */
}

@media screen and (max-width: 767px) {
    #services header h1 {
        font-size: 30px;
    }
    
}


/* service info styles */

.services-container h1 {
    margin-bottom: 20px;
}

.service-information-con {
    display: flex;
    justify-content: center;
    align-items: center;
}


.service-information-con:nth-child(odd) {
    background-color: white;
}

.service-info {
    display: flex;
    justify-content: center;
    max-width: 1140px;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.service-info-child1 {
    flex: 1 1 0;
    margin: 10px;
    padding: 10px;
}

.service-info-child2 {
    flex: 1 1 0;
    margin: 10px;
    padding: 10px;
    order: -1;
}

.service-info-child2 img {
    width: 100%;
    border-radius: 1rem;
}


.service-info h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #363636;
    text-transform: capitalize;
}

.service-info p {
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-style: normal;
    font-weight: 300;
}

@media screen and (max-width: 767px) { 
    .service-info {
        align-items: stretch;
    }
}

@media screen and (min-width: 767px) {
    .service-information-con:nth-child(even) .service-info-child2{
        order: 1;
    }

    .service-info {
        flex-direction: row;
        /* align-items: stretch; */
    }

    /* .service-info-child1, .service-info-child2 {
        width: 500px;
    } */
}

@media screen and (min-width: 1024px) {
    .service-information-con:nth-child(odd) .service-info-child2{
        order: 1;
    }
    .service-information-con:nth-child(even) .service-info-child2{
        order: -1;
    }
}

/* specialization section styles */

#specialization {
    display: flex;
    flex-direction: column;
}

#specialization h1 {
    color: #000000;
    font-family: "Varela Round", Sans-serif;
    font-size: 35px;
    line-height: 1;
    text-align: center;
}

#specialization a {
    
}


/* contact section styles */

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.form label {
    margin-bottom: 4px;
}

.estimated-budget {
    color: #7C98B6;
}

.budget {
    margin-bottom: 4px;
}

.form-group {
    width: 100%;
    margin-bottom: 18px;
}

.name-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.company-phone-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.interested-text {
    padding: 10px 15px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F0;
}

#contact .container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;

}

#contact .decorative-image {
    text-align: center;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 0;
}

.form-div {
    margin: 20px 25px;
    margin-top: 10px;
}

#contact .form-div {
    display: flex;
    justify-content: center;
}

.form-div input {
    max-width: 100%;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 22px;
    color: #33475b;
    border: 1px solid #cbd6e2;
    border-radius: 15px;
    background-color: #f5f8fa;
}

.form-div input:focus {
    border-color: rgba(82,168,236,.8);
}

.form-div textarea {
    padding: 10px 15px;
    /* height: 43px; */
    border: 1px solid #cbd6e2;
    border-radius: 15px;
    background-color: #f5f8fa;
    /* max-width: 500px; */
    resize: vertical;
    width: 100%;
    /* max-width: 500px; */
}

.form-div textarea:focus {
    outline: none;
    border-color: rgba(82,168,236,.8);
}

.form-div select {
    padding: 9px 10px;
    /* height: 43px; */
    border: 1px solid #cbd6e2;
    /* border-radius: 15px; */
    background-color: #f5f8fa;
    /* max-width: 500px; */
    width: 100%;
    color: #bfbfbf;
    font-size: 16px;
}

.form-div select option {
    color: #2b2b2b;
}

.form-div select:focus {
    outline: none;
    color: #2b2b2b;
    border-color: rgba(82,168,236,.8);    ;
}

.form-div select.value-got-selected {
    color: #2b2b2b;
}


.form-div input.form-input-error-border-color {

    border-color: rgb(200, 120, 114);
}

.form-div input:focus {
    outline: none;
}

.form-div .submit-btn {
    align-self: flex-start;
    margin: 18px 0;
    /* background-color: #49586e; */
    /* padding: 12px 24px; */
    /* border-radius: 0; */
}

.form-div .submit-btn input {
    display: block;
    color: white;
    background-color: #49586e;
    padding: 0 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.form-div .submit-btn input:hover {
    cursor: pointer;   
}

.form-div label {
    font-family: Open Sans;
    font-size: 13px;
    color: #33475b;
}

.form-div label, .form-div input {
    display: block;
}

.form-div label span.star {
    color: red;
}

#form .error-message {
    display: none;
    color: red;
}

#form .show-error-message {
    display: block;
    width: 100%;
}

#contact .interested-text h1 {
    color: #2b2b2b;
    font-family: Varela Round, sans-serif;
    text-align: center;
    font-size: 28px;
    padding: 10px 0 15px;
}

#contact .interested-text a {
    color: #3064a6;
    text-decoration: none;
}

.floating-chat-icon {
    display: block;
    position: fixed;
    left: 28px;
    bottom: 62px;
    background-color: #4632DA;
    font-size: 25px;
    font-weight: 500;
    left: 20px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    color: white;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    box-shadow: 0px 0px 25px 0px rgb(70 50 218 / 21%);
}

.floating-chat-icon:hover {
    background-color: #6C5ED1;
}

.floating-chat-icon i {
    color: white;
    /* font-size: 25px; */
}

.scroll-to-top {
    width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    /* padding: 10px; */
    border-radius: 8px;
    position: fixed;
    bottom: 40px;
    right: 30px;
    background-color: rgba(46, 45, 45, 0.8);
    cursor: pointer;
    z-index: 20;
}

.scroll-to-top i {
    color: white;
    font-size: 20px;
}



@media screen and (min-width: 767px){
    .floating-chat-icon {
        font-size: 25px;
        width: 65px;
        height: 65px;
        line-height: 65px;
        left: 28px;
        bottom: 62px;
    }
}

@media screen and (min-width: 1021px) {
    .form {
        width: 552px;
    }

    .name-group, .company-phone-group {
        display: flex;
        justify-content: space-between;
    }

    .name-group .form-group, .company-phone-group .form-group {
        width: 47%;
    }

    .name-group .form-group:nth-child(1), .company-phone-group .form-group:nth-child(1) {
        /* margin-right: 17px; */
    }

}

/* footer styles */

footer {
    padding: 112px 54px 95px;
    background-color: #33475b;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    position: relative;
    z-index: 10;
}

footer h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    margin-bottom: 28px;
    font-family: 'Merriweather', serif;
}

footer a {
    color: #ccd0d9;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ccd0d9;
    font-weight: 300;
}

footer a:visited {
    color: #ccd0d9;
}

.address-content {
    color: #ccd0d9;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ccd0d9;
    font-weight: 300;
    text-align: center;
}

.services-content li {
    text-align: center;
}

footer ul {
    list-style: none;
    margin: 15px 0;
}

footer ul li {
    margin-bottom: 12px;
}

.social-links-ul, .contact-content {
    text-align: center;
}

.social-links-ul li {
    display: inline-block;
    font-size: 24px;
    padding: 5px;
    text-align: center;
}

.social-links-ul li i:hover {
    color: #00d3f3;
}

.hyphen {
    color: rgb(2, 187, 211);
    font-weight: 700;
    margin-right: 5px;
}


.services-list {
    margin: 20px;
}
.contact-details {
    margin: 20px;
}
.address-container {
    margin: 20px;
    margin-bottom: 60px;
}


@media screen and (max-width: 1024px) {
    footer {
        flex-direction: column;
    }
}


@media screen and (min-width: 1025px) {
    .footer-seperator {
        width: 1px;
        background-color: rgba(255,255,255,0.7);
    }
}









/* .wave-shape {
    transform: rotate(180deg);
    position: absolute;
    width: 100%;
    overflow: hidden;
    left: 0;
    line-height: 0;
    direction: ltr;
} */

/* .wave-shape svg {
    display: block;
    width: calc(100% + 1.3px);
    position: relative; */
    /* top: -50px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* height: 30px;
} */
/* 
.shape-fill {
    fill: #F2F2F0;
    transform-origin: center;
}

img {
    max-width: 100%;
}
iframe {
    max-width: 100%;
} */